.dropdown-container {
  padding-top: 20px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.dropdown-header {
  border: 2px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.dropdown-list {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.dropdown-list-item {
  list-style: none;
  margin: 10px;
  overflow: visible;
}

.dropdown-header:hover,
.dropdown-list-item:hover {
  background: black;
}
