.content-header {
  text-align: center;
  padding: 32px;
}

.content-container {
  padding: 2em 4em;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.content-column {
  flex: 20%;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

@media only screen and (max-width: 600px) {
  .content-column {
    flex: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
