.content-header {
  text-align: center;
  padding: 32px;
}

.content-container {
  padding: 2em 4em;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.content-column {
  flex: 20%;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.content-arrow {
  margin-top: calc(70px / 2);
  margin-bottom: calc(70px / 2);
  padding: 4px;
  background-color: rgba(0 ,0 ,0 ,0.5);
  color: #fff;
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .content-column {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
