.videobar {
  width: 100%;
  height: 5px;
  background-color: black;
}

.videobar-playing {
  width: 1px;
  height: 5px;
  background-color: red;
}

.videobar-play-btn {
  width: 1px;
  cursor: pointer;
}

.videobar-circle {
  position:absolute;
  margin: -5px;
  background-color: red;
  border-radius: 25%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.videobar-circle-play {
  transform: translate(770px, 0);
  transition: all 1.6s;
  margin: -5px;
  background-color: red;
  border-radius: 25%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
